{% extends 'layout.html' %}
{% block styles %}
	<link rel="stylesheet" href="{{url_for('static', filename='adhome.css')}}">
	<style>
#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
</style>
{% endblock styles %}

{% block content %}
	
	<h1 class="title">BusManager Admin v2 </h1>
	<small class="subtitle">Bus Management made simple </small><br><br>
	<small class="subtitle logout"><a class='lgo' href='{{ url_for('admin.logout') }}'>(Logout)</a>
	<div class="btn" id="nas">Notify All Students</div></small>
	
	<div class="opsec">
		<a class="op" href="{{url_for('admin.data_locations')}}">
			<center class='holder'>
				<img src="https://img.icons8.com/color/96/000000/flow-chart.png" class='opico'/>
			</center>
			<h5 class='opname'>View<br>Data</h5>
		</a>
		<a class="op" href="{{url_for('admin.add_data')}}">
			<center class='holder'>
			<img src="https://img.icons8.com/color/48/000000/worldwide-location.png" class='opico'/>
			</center>
			<h5 class='opname'>Add<br>Locations & More</h5>
		</a>
		<a class="op" href="{{url_for('admin.mark_payment_status')}}">
			<center class='holder'>
			<span class="badge">{{unpaid_students}}</span>
				<img src="https://img.icons8.com/color/96/000000/payment-history.png" class="opico"/>
			</center>
			<h5 class='opname'>Mark Payment Status</h5>
		</a>
		<a class="op" href="{{url_for('admin.get_journey_info')}}">
			<center class='holder'>
				<img src="https://img.icons8.com/color/96/000000/route.png" class='opico'/>
			</center>
			<h5 class='opname'>Journey Information</h5>
		</a>
		<a class="op" href="{{url_for('admin.verify_drivers')}}">
		
			<center class='holder'>
			<span class="badge">{{unverified_drivers}}</span>
				<img src="https://img.icons8.com/color/96/000000/approval--v3.png" class='opico'/>
				
			</center>
			
			<h5 class='opname'>Verify<br>Drivers</h5>
			
		</a>
		<!--<a class="op" href="">
			<center class='holder'>
				<img src="https://img.icons8.com/color/96/000000/checked-radio-button--v1.png" class='opico'/>
			</center>
			<h5 class='opname'>Verify Students</h5>
		</a>-->
		<a class="op" href="{{url_for('admin.delete_drivers')}}">
			<center class='holder'>
				<img src="https://img.icons8.com/color/96/000000/id-not-verified.png" class='opico'/>
			</center>
			<h5 class='opname'>Manage <br>Drivers</h5>
		</a>
		<a class="op" href="{{url_for('admin.delete_students')}}">
			<center class='holder'>
				<img src="https://img.icons8.com/color/96/000000/remove-user-male--v1.png" class='opico'/>
			</center>
			<h5 class='opname'>Manage <br>Students</h5>
		</a>
		<a class="op" href="{{url_for('admin.reallocate_student_id')}}">
			<center class='holder'>
			<span class="badge">{{lapsed_students}}</span>
				<img src="https://img.icons8.com/color/96/000000/submit-resume.png" class='opico'/>
			</center>
			<h5 class='opname'>Re-Allocate<br>Student ID</h5>
		</a>
	</div>
	<div id="snackbar">Notification Sent!</div>
{% endblock content %}

{% block javascript %}
<script>
document.getElementById('nas').onclick = () => {
	let x = document.getElementById("snackbar");
  	x.className = "show";
	setTimeout(() => {
		x.className = x.className.replace("show", "");
		window.location.href = "{{url_for('admin.notify_students')}}";
	}, 3000)	
}

</script>
{% endblock javascript %}