{% extends 'bs_layout.html' %}
{% block content %}
<h1 class='display-1'>Journey Information</h1>
<br>
<input type="text" id="searchbar" class="form-control" placeholder="Search Driver"><br>
<table class="table table-striped table-dark" id="tbl">
  <thead>
    <tr>
      <th scope="col">Driver Name</th>
	  <th scope="col">Bus Number</th>
      <th scope="col">Date</th>
	  <th scope="col">Time</th>
      <th scope="col">Phone</th>
	  <th scope="col">Students</th>
    </tr>
  </thead>
  <tbody id='tbdy'>
    <tr data-id="1">
      <td>Noel Fargo</td>
      <td>2345 7321 1198 6697</td>
      <td>05/01/21</td>
	  <td>12:35AM</td>
	  <td class='phn'>+917738291111</td>
	  <td>12</td>
    </tr>
    <tr data-id="2">
        <td>Chris Rambo</td>
      <td>2345 7321 1198 6697</td>
      <td>05/01/21</td>
	  <td>12:35AM</td>
	   <td class='phn'>+917738291111</td>
	   <td>12</td>
    </tr>
    <tr data-id="3">
        <td>Abdul Bamblast</td>
		<td>2345 7321 1198 6697</td>
		<td>05/01/21</td>
		<td>12:35AM</td>
		 <td class='phn'>+1776443622</td>
		 <td>12</td>
    </tr>
  </tbody>
</table>
{% endblock content %}

{% block javascript %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
<script>
let tri = [...document.getElementsByTagName('TR')]
tri.forEach((e)=>{
	e.addEventListener('click', (_)=>{
		let driver_id = e.dataset.id
		if(driver_id === undefined) return;
		console.log(`Clicked On ${driver_id}`)
	});
})

//Filtering

document.getElementById('searchbar').addEventListener('keyup', (_)=>{
var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("searchbar");
  filter = input.value.toLowerCase();
  table = document.getElementById("tbl");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[4]; //Match Phone Number
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toLowerCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
})





</script>
{% endblock javascript %}