{% extends 'bs_layout.html' %}
{% block content %}
<a class="btn btn-secondary" href="{{url_for('admin.admin_home')}}">Back to Homepage</a>
<h1 class='display-2'>Driver's Journey Details</h1>
<h2 class="text-muted">{{driver.name}} 
(<span class="badge text-info">{{driver.bus_number}}</span>) 
(<span class="badge text-warning">{{driver.phone}}</span>) • (<span class="badge text-primary">{{driver.location[0].location_name}}</span>)</h2>
<br>
<input type="text" id="searchbar" class="form-control" placeholder="Search Student Phone" onkeyup="tableFilterer(3)"><br>
<table class="table table-striped table-dark" id="tbl">
  <thead>
    <tr>
    <th scope="col">No.</th>
      <th scope="col">Student Name</th>
	  <th scope="col">Student ID</th>
      <th scope="col">Phone</th>
    </tr>
  </thead>
  <tbody id='tbdy'>
    {% for e in students %}
      <tr>
        <td>{{loop.index}}</td>
        <td>{{e.name}}</td>
        <td>{{e.student_id}}</td>
        <td class='phn'>{{e.phone}}</td>
      </tr>
    {% endfor %}

  </tbody>
</table>
{% endblock content %}

{% block javascript %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
<script>

</script>
{% endblock javascript %}