{% extends 'bs_layout.html' %}
{% block content %}
<a class="btn btn-secondary" href="{{url_for('admin.admin_home')}}">Back to Homepage</a>
<h1 class='display-2'>Mark Payment Status</h1>
<br>
<input type="text" id="searchbar" class="form-control bg-dark text-light" placeholder="Search Driver Phone"  onkeyup="tableFilterer(3)"><br>
<table class="table table-striped table-dark" id="tbl">
  <thead>
    <tr>
	  <th scope="col">No.</th>
      <th scope="col">Student Name</th>
	  <th scope="col">Student ID</th>
      <th scope="col">Phone</th>
       <th scope="col">View Profile</th>
	  <th scope="col">Mark Paid</th>
    </tr>
  </thead>
  <tbody id='tbdy'>
    {% for e in students %}
       <tr data-id="{{e.id}}">
	     <td>{{loop.index}}</td>
        <td>{{e.name}}</td>
        <td>{{e.student_id}}</td>
        <td class='phn'>{{e.phone}}</td>
        <td><button class="btn btn-success" onclick=ViewProfile({{e.id}})>View Profile</button></td>
		<td><button class="btn btn-success" onclick=markPaid({{e.id}})>Mark Paid</button></td>
      </tr>
    {% endfor %}

  </tbody>
</table>
{% endblock content %}

{% block javascript %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
<script>

const markPaid = (id) => {
	console.log("Marking Student Paid with id " + id )
	fd = new FormData();
	fd.append('id', id)
	fetch(window.location.href, {
		method: 'post',
		body: fd
	}).then(() => window.location.reload());
}

const ViewProfile = (id) => {
	window.location.href = `${window.location.origin}/admin/studentprofile/${id}`;
}
</script>
{% endblock javascript %}