
.title{
	font-size: 85px;
	padding: 0;
	margin: 0;
	font-weight: 100;
}
.subtitle{
	font-weight: 100;
	font-size: 28px;
	margin-left: 5px;
}

.opsec{
	padding: 20px 10px;
	margin-top: 90px;
	/* border: 1px solid red; */
	display: flex;
	
}

@media only screen and (max-width:600px) {
	.opsec{
		padding: 10px;
		margin-top: 10px;
		display: block;
		/* border: 1px solid green */
	}

	.op{
		margin: auto;
		width: 50%;
	}

	.title{
		text-align: center;
		font-size: 55px;
	}
	
	.subtitle{
		text-align: center;
		margin-left: 35px;
		font-size: 18px;
	}

	.logout{
		text-align: center;
		margin-left: 130px;
	}
} 


.op{
	padding: 10px;
	width: 155px;
	height: 230px;
	text-align: center;
	color: white;
	text-decoration: none;
	display: block;
	
	/* border: 1px solid red; */
	font-weight: 100;
}

.op:hover{
	border: 1px dotted yellow;
}

.holder{
	background-color: rgba(255, 255, 255, 0.507);
	border: 2px solid gray;
	height: 150px;
	width: 150px;
}

.opico{
	height: 80px;
	width: 80px;
	margin-top: 35px;
}

.opname{
	font-weight: 100;
	margin-top: 10px;
	font-size: 24px;
	text-align: center;
}

.lgo{
	color: crimson;
	text-decoration: none;
}