{% extends 'bs_layout.html' %}
{% block content %}
<h1 class="display-1">Student Profile</h1>
<br>
<div class="d-flex mx-5">
	<img src="{{student.picture}}" class="profimg">
	<div class="container px-5">
		<h2><span class="btn btn-lg btn-dark mx-1">Name:</span> {{student.name}}</h2>
		<h2><span class="btn btn-lg btn-dark mx-1">Phone:</span> {{student.phone}}</h2>
		<h2><span class="btn btn-lg btn-dark mx-1">Location:</span> {{student.location[0].location_name.capitalize()}}</h2>
		<h2><span class="btn btn-lg btn-dark mx-1">StudentID:</span> {{student.student_id}}</h2>
		<h2><span class="btn btn-lg btn-dark mx-1">Semester:</span> {{student.semester}}</h2>
		<h2><span class="btn btn-lg btn-dark mx-1">University:</span> {{student.university[0].name.capitalize()}}</h2>
		<h2 ><span class="btn btn-lg btn-dark mx-1">Timings:</span> {{student.timings[0].start}} - {{student.timings[0].end}}</h2>
		<h2><span class="btn btn-lg btn-dark mx-1">Payment Status:</span> {{'Paid' if student.is_paid else 'Expired' if student.is_lapsed else 'Not Paid'}}</h2>
		<h2><span class="btn btn-lg btn-dark mx-1">Schedule:</span> {{'Full Time' if student.is_fulltime else 'Part Time'}}</h2>
	</div>
</div>

{% endblock content %}

{% block styles %}
<style>
.profimg{
	height: 480px;
	width: 520px;
}
</style>
{% endblock styles %}