{% extends 'bs_layout.html' %}
{% block content %}
<a class="btn btn-secondary" href="{{url_for('admin.admin_home')}}">Back to Homepage</a>
<h1 class='display-1'>All Timings</h1>
<hr>
<h3 class="px-4">Location: <span class="mx-1"></span><span class="btn btn-primary">{{location}}</span></h3>
<hr><br>
<input type="text" id="searchbar" class="form-control text-light bg-dark" placeholder="Search Start Time" onkeyup="tableFilterer(1)"><br>
<table class="table table-striped table-dark" id="tbl">
  <thead>
    <tr>
    <th scope="col">SerialNo</th>
      <th scope="col">Start Time</th>
      <th scope="col">End Time</th>
	  <th scope="col">Members</th>
      <th scope="col">Expand</th>
    </tr>
  </thead>
  <tbody id='tbdy'>
    {% for e in timings %}
       <tr data-id="-1">
       <td>{{loop.index}}</td>
        <td>{{e['start']}}</td>
        <td>{{e['end']}}</td>
        <td>{{e['members']}}</td>
        <td><button class="btn btn-warning" onclick=Expand({{e['id']}})>Expand</button></td>
      </tr>
    {% endfor %}

  </tbody>
</table>
{% endblock content %}

{% block javascript %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
<script>

const Expand = (id) => {
	console.log(`Expanding to ${id}`)
  window.location.href = window.location.href = `${window.location.origin}/admin/viewdata/grouped_data/{{tid}}/${id}`
}

</script>
{% endblock javascript %}